[class*='col-'] {
  float: left;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
[class*='col-'] {
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.grid {
  margin: 0;
  display: inline-block;
}
.col-1-4 {
  width: 25%;
}
.module {
	padding: 20px;
	text-align: center;
	color: #eee;
	max-height: 120px;
	min-width: 120px;
	background-color: #607D8B;
  background-color: rgb(0,120,215);
	border-radius: 2px;
}
h4 {
  position: relative;
}
.module:hover {
  background-color: #EEE;
  background-color: #CCC;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
	.module {
	  font-size: 10px;
	  max-height: 75px;
  }
  .col-1-4 {
    width: 50%;
  }
}
@media (max-width: 1024px) {
	.grid {
	  margin: 0;
	}
	.module {
	  min-width: 60px;
	}
}

.loader {
  margin: 100px auto;
  font-size: 15px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #02fff2, 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.5), -1.8em -1.8em 0 0em rgba(2,255,242, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.7), 1.8em -1.8em 0 0em #02fff2, 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.5), 1.8em -1.8em 0 0em rgba(2,255,242, 0.7), 2.5em 0em 0 0em #02fff2, 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.5), 2.5em 0em 0 0em rgba(2,255,242, 0.7), 1.75em 1.75em 0 0em #02fff2, 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.5), 1.75em 1.75em 0 0em rgba(2,255,242, 0.7), 0em 2.5em 0 0em #02fff2, -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.5), 0em 2.5em 0 0em rgba(2,255,242, 0.7), -1.8em 1.8em 0 0em #02fff2, -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.5), -1.8em 1.8em 0 0em rgba(2,255,242, 0.7), -2.6em 0em 0 0em #02fff2, -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.5), -2.6em 0em 0 0em rgba(2,255,242, 0.7), -1.8em -1.8em 0 0em #02fff2;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #02fff2, 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.5), -1.8em -1.8em 0 0em rgba(2,255,242, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.7), 1.8em -1.8em 0 0em #02fff2, 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.5), 1.8em -1.8em 0 0em rgba(2,255,242, 0.7), 2.5em 0em 0 0em #02fff2, 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.5), 2.5em 0em 0 0em rgba(2,255,242, 0.7), 1.75em 1.75em 0 0em #02fff2, 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.5), 1.75em 1.75em 0 0em rgba(2,255,242, 0.7), 0em 2.5em 0 0em #02fff2, -1.8em 1.8em 0 0em rgba(2,255,242, 0.2), -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.5), 0em 2.5em 0 0em rgba(2,255,242, 0.7), -1.8em 1.8em 0 0em #02fff2, -2.6em 0em 0 0em rgba(2,255,242, 0.2), -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.5), -1.8em 1.8em 0 0em rgba(2,255,242, 0.7), -2.6em 0em 0 0em #02fff2, -1.8em -1.8em 0 0em rgba(2,255,242, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(2,255,242, 0.2), 1.8em -1.8em 0 0em rgba(2,255,242, 0.2), 2.5em 0em 0 0em rgba(2,255,242, 0.2), 1.75em 1.75em 0 0em rgba(2,255,242, 0.2), 0em 2.5em 0 0em rgba(2,255,242, 0.2), -1.8em 1.8em 0 0em rgba(2,255,242, 0.5), -2.6em 0em 0 0em rgba(2,255,242, 0.7), -1.8em -1.8em 0 0em #02fff2;
  }
}